<html>
    <head>
        <title>{{ title }} - Olin Snapshot</title>
    </head>
    <body>
        <h1>Hello, {{ user.username }}!</h1>
	<script type="text/javascript" src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<div id="chart"></div>
	<h1>Welcome to Olin Snapshot.</h1>
	<script src="../static/js/main.js"></script>

	<p>Each bubble represents the proportion of emails in each category.</p>
        <a href="https://github.com/KaitlynKeil/OlinSnapshot">Check out our github!</a> 
    </body>
</html>
